<?xml version="1.0"?>
<config>
    <modules>
        <Ciklum_All>
            <version>0.0.0.1</version>
        </Ciklum_All>
    </modules>
    <global>
        <blocks>
            <ciklum_all>
                <class>Inchoo_Xternal_Block</class>
            </ciklum_all>
            <page>
                <rewrite>
                    <html_head>Ciklum_All_Block_Html_Head</html_head>
                </rewrite>
            </page>
            <adminhtml>
                <rewrite>
                    <page_head>Ciklum_All_Block_Adminhtml_Head</page_head>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ciklum_all>
                <class>Ciklum_All_Helper</class>
            </ciklum_all>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <ciklum_all>
                    <file>ciklum/all.xml</file>
                </ciklum_all>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ciklum_all>
                    <file>ciklum/all.xml</file>
                </ciklum_all>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ciklum_all translate="title" module="ciklum_all">
                                            <title>Ciklum All</title>
                                        </ciklum_all>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Ciklum_All>
                    <files>
                        <default>Ciklum_All.csv</default>
                    </files>
                </Ciklum_All>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <settings>
            <use_own_jquery_on_frontend>0</use_own_jquery_on_frontend>
            <use_own_jquery_on_backend>0</use_own_jquery_on_backend>
        </settings>
    </default>
</config>
