<?xml version="1.0"?>
<config>
    <modules>
        <Ciklum_ProductGrid>
            <version>1.0.1</version>
        </Ciklum_ProductGrid>
    </modules>
    <global>
        <helpers>
            <ciklum_productgrid>
                <class>Ciklum_ProductGrid_Helper</class>
            </ciklum_productgrid>
        </helpers>
        <blocks>
            <ciklum_productgrid>
                <class>Ciklum_ProductGrid_Block</class>
            </ciklum_productgrid>
            <adminhtml>
                <rewrite>
                    <catalog_product>Ciklum_ProductGrid_Block_Catalog_Product</catalog_product>
                    <catalog_product_grid>Ciklum_ProductGrid_Block_Catalog_Product_Grid</catalog_product_grid>
                    <widget_grid_column_renderer_price>Ciklum_ProductGrid_Block_Widget_Grid_Column_Renderer_Price</widget_grid_column_renderer_price>
                </rewrite>
            </adminhtml>            
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <ciklum_productgrid>
                    <file>ciklum/productgrid.xml</file>
                </ciklum_productgrid>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ciklum_productgrid translate="title" module="ciklum_productgrid">
                                            <title>Ciklum ProductGrid</title>
                                        </ciklum_productgrid>
                                    </children>
                                </config>
                            </children>
                        </system>
                   </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Ciklum_ProductGrid>
                    <files>
                        <default>Ciklum_ProductGrid.csv</default>
                    </files>
                </Ciklum_ProductGrid>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <ciklum_productgrid>
                <use>admin</use>
                <args>
                    <module>Ciklum_ProductGrid</module>
                    <frontName>ciklum_productgrid</frontName>
                </args>
            </ciklum_productgrid>
        </routers>     
    </admin>
    <default>
        <ciklum>
            <productgrid>
                <active>0</active>
                <use_own_jquery>0</use_own_jquery>
            </productgrid>
        </ciklum>
    </default>       
</config>
