<?xml version="1.0"?>
<config>
    <modules>
        <Ciklum_Home>
            <version>0.0.0.1</version>
        </Ciklum_Home>
    </modules>
    <global>
        <blocks>
            <ciklum_home>
                <class>Ciklum_Home_Block</class>
            </ciklum_home>
        </blocks>
        <helpers>
            <ciklum_home>
                <class>Ciklum_Home_Helper</class>
            </ciklum_home>
        </helpers>
        <resources>
            <ciklum_home_setup>
                <setup>
                    <module>Ciklum_Home</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </ciklum_home_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <Ciklum_Home>
                    <files>
                        <default>Ciklum_Home.csv</default>
                    </files>
                </Ciklum_Home>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ciklum translate="title" module="ciklum_home">
                                            <title>Ciklum Home</title>
                                        </ciklum>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <ciklum>
            <home>
                <featured_number>3</featured_number>
            </home>
        </ciklum>
    </default>
</config>